<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid bg-dark">
  <div class="container">
  <nav class="navbar" >
      <a class="navbar-brand text-white font-weight-bold" href="#">
          Gabriel Grazionale
      </a>
      <div class="float-right">
          <a href="https://github.com/grazionale/" class="text-white"><i class="fab fa-github-square gg-icon"></i></a>
          <a href="https://br.linkedin.com/in/gabriel-grazionale-gomes-fernandes-08b331144" class="text-white"><i class="fab fa-linkedin gg-icon"></i></a>
      </div>
  </nav>
</div>
</div>
<div class="jumbotron vertical-center">
  <div class="container">
      <h1>{{title}}</h1>
      <div class="row">
          <div class="col-md-6 col-sm-12 side1">
            <div *ngFor='let d of dividas'>
              <app-dividas-cadastradas [divs]="d"></app-dividas-cadastradas>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <app-formulario></app-formulario>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
